body {
	max-width: 1280px;
	margin: auto;
}

nav {
	width: 100%;
	margin: auto;
}

li {
	display: inline;
	float: left;
	padding: 12px;
	width: 19%;
	text-align: center;
	list-style: none;
}

a {
	color: black;
}

a:hover {
	color: black;
	font-size: 1.2em;
}

@media screen and (max-width: 400px) {
	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	li {
		margin: 0;
		display: flex;
		text-align: center;
		justify-content: center;
	}
}

/*
* {
	outline: 1px solid lightgrey;
}