body {
	max-width: 1280px;
	margin: auto;
}

.main-section {
	margin-top: 50px;
	margin-bottom: 50px;
}

/* NAVIGATION SECTION */
nav {
	width: 100%;
	margin: auto;
}

li {
	display: inline;
	float: left;
	padding: 12px;
	width: 19%;
	text-align: center;
	list-style: none;
}

li:hover {
	background-color: #ccc;
}

@media screen and (max-width: 400px) {
	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	li {
		display: flex;
		justify-content: center;
	}
}

/* INTRO SECTION */
#intro-section span p {
	text-align: center;
}

/* COURSES SECTION */

button {
	border: 0;
}

.course-item {
	outline: 2px solid grey;
}

.course-item button {
	background-color: #aaffff;
}

.course-item button:hover {
	background-color: cyan;
}

/* TESTIMONIALS SECTION */

#testimonials-section img {
	width: auto;
	height: 300px;
	border-radius: 100%;
	object-fit: cover;
	aspect-ratio: 1;
}

#testimonials-section p b {
	font-size: 1.2em;
	font-weight: bold;
}

/*
* {
	outline: 1px solid #ccc;
}

.row {
	outline: 1px solid blue;
}

.col-1-sm,
.col-2-sm,
.col-3-sm,
.col-4-sm,
.col-5-sm,
.col-6-sm,
.col-7-sm,
.col-8-sm,
.col-9-sm,
.col-10-sm,
.col-11-sm,
.col-12-sm {
	outline: 1px solid magenta;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	outline: 1px solid cyan;
}
