nav {
	width: 100%;
	margin: auto;
	/* text-align: justify; */
	overflow: auto;
}

li {
	float: left;
	padding: 12px;
	width: 19%;
	text-align: center;
	display: inline;
	list-style: none;
}

a {
	color: black;
}

a:hover {
	color: black;
	font-size: 1.2em;
}